@charset "UTF-8";
html {
  font-size: 12px; }
  @media screen and (min-width: 350px) {
    html {
      font-size: 13px; } }
  @media screen and (min-width: 600px) {
    html {
      font-size: 14px; } }
  @media screen and (min-width: 900px) {
    html {
      font-size: 15px; } }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 16px; } }

body,
html {
  height: 100%;
  margin: 0;
  width: 100%; }

body {
  -webkit-text-size-adjust: 100%;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: white;
  color: #172b4c;
  counter-reset: sidenote-counter;
  font-family: -apple-system-font, BlinkMacSystemFont, Helvetica, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 300;
  line-height: 2em;
  margin: auto;
  text-align: justify; }

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1;
  margin: 1.5em 0;
  text-align: left; }

h2,
h3 {
  margin-bottom: 0; }

h1 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  margin-top: 0; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.7rem;
  font-style: italic; }

a {
  font-weight: 400;
  text-decoration: none; }
  a, a:hover, a:active {
    color: #0366d6; }
  a:hover {
    text-decoration: underline; }

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace; }

.align-left {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: -1em;
  padding-left: 1em;
  position: relative; }
  h1:hover .header-anchor,
  h2:hover .header-anchor,
  h3:hover .header-anchor,
  h4:hover .header-anchor,
  h5:hover .header-anchor,
  h6:hover .header-anchor {
    display: block; }

a.header-anchor {
  bottom: 0;
  color: #aaaaaa;
  display: none;
  font-style: normal;
  left: 0.2em;
  position: absolute; }
  a.header-anchor:hover, a.header-anchor:active {
    color: #0366d6;
    display: block; }

.container {
  padding: 9em 3em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 800px;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 760px) {
    .container {
      padding: 2em 7.5%; } }

.panel {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap-reverse;
  width: 100%; }
  @media only screen and (max-width: 960px) {
    .panel {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
              flex-flow: column-reverse; } }

.column-left {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1 0;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 5em 2em 0 0;
  max-width: 100%; }
  @media only screen and (max-width: 760px) {
    .column-left {
      margin: 2em 0; } }

.column-right {
  -webkit-box-flex: 3;
          flex: 3 0;
  max-width: 100%;
  margin: auto; }

img {
  max-width: 100%; }

figure {
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  max-width: 55%;
  padding: 0;
  vertical-align: baseline; }
  @media only screen and (max-width: 760px) {
    figure {
      max-width: 90%; } }

figcaption {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10%;
  position: relative;
  text-align: center;
  vertical-align: baseline;
  width: 80%; }
  figcaption code {
    font-size: 0.8rem; }

:not(img).fullwidth {
  max-width: 90%; }
  @media only screen and (max-width: 760px) {
    :not(img).fullwidth {
      max-width: 100%; } }

blockquote {
  opacity: 0.8; }

blockquote,
ol,
ul {
  -webkit-padding-start: 5%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 2em; }
  blockquote p,
  blockquote li,
  blockquote ol,
  blockquote ul,
  ol p,
  ol li,
  ol ol,
  ol ul,
  ul p,
  ul li,
  ul ol,
  ul ul {
    width: 100%; }

ol,
ul {
  width: calc(65% + 2em); }
  @media screen and (max-width: 760px) {
    ol,
    ul {
      width: unset; } }

section.nav {
  margin-bottom: 2em; }

.nav-link {
  color: #aaaaaa;
  font-size: 1.2em; }
  .nav-link:not(.no-margin) {
    margin-right: 2em; }
  .nav-link:not(*) {
    color: #0366d6; }

.gist {
  margin-left: -2em;
  width: calc(65% + 4em); }
  @media only screen and (max-width: 760px) {
    .gist {
      margin-left: 0;
      width: 100%; } }
  .gist table.highlight {
    margin: 0.5em 0; }
  .gist tbody tr td.blob-num, .gist tbody tr td.blob-code {
    font-size: 11px; }
    @media screen and (min-width: 350px) {
      .gist tbody tr td.blob-num, .gist tbody tr td.blob-code {
        font-size: 12px; } }
    @media screen and (min-width: 600px) {
      .gist tbody tr td.blob-num, .gist tbody tr td.blob-code {
        font-size: 13px; } }
    @media screen and (min-width: 900px) {
      .gist tbody tr td.blob-num, .gist tbody tr td.blob-code {
        font-size: 14px; } }
  .gist .gist-meta {
    display: none; }
  .gist .gist-data {
    border-bottom: none !important; }

.mathblock {
  width: 65%; }
  @media only screen and (max-width: 760px) {
    .mathblock {
      width: 100%; } }

.resp-iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.resp-iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative; }

.filter-option {
  line-height: 2em;
  margin-right: 0.75em;
  vertical-align: middle; }
  .filter-option input,
  .filter-option label {
    vertical-align: middle; }
  .filter-option:last-of-type {
    margin-right: 0; }

select[name*="-filter"] {
  margin-right: 1.5em; }

span.newthought {
  font-size: 1.2em;
  font-variant: small-caps;
  letter-spacing: 0.05rem; }
span.tag, span.croissant {
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  margin-left: 1em; }
span.el {
  color: rgba(0, 0, 0, 0.5); }

.emoji {
  height: 1em;
  vertical-align: -8%;
  width: 1em; }

.color {
  border-radius: 50%;
  display: inline-block;
  height: 1.5rem;
  margin-right: 0.5em;
  position: relative;
  width: 1.5rem;
  vertical-align: bottom; }
  .color.c {
    background-color: #555; }
  .color.cpp {
    background-color: #f34b7d; }
  .color.cr {
    background-color: #000100; }
  .color.css {
    background-color: #563d7c; }
  .color.html {
    background-color: #e34c26; }
  .color.java {
    background-color: #b07219; }
  .color.js {
    background-color: #f1e05a; }
  .color.py {
    background-color: #3572a5; }
  .color.r {
    background-color: #198ce7; }
  .color.rb {
    background-color: #701516; }
  .color.rs {
    background-color: #dea584; }
  .color.sql {
    background-color: #ccc; }
  .color.ts {
    background-color: #2b7489; }

.sidenote,
.marginnote {
  clear: right;
  float: right;
  margin-right: -60%;
  margin-bottom: 1em;
  position: relative;
  text-align: left;
  overflow-x: scroll;
  overflow-y: hidden;
  vertical-align: baseline;
  width: 50%;
  z-index: 10; }
  @media only screen and (max-width: 760px) {
    .sidenote,
    .marginnote {
      display: none; } }
  .sidenote::-webkit-scrollbar,
  .marginnote::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px; }
  .sidenote::-webkit-scrollbar-thumb,
  .marginnote::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 7px; }
  .sidenote::-webkit-scrollbar-corner,
  .marginnote::-webkit-scrollbar-corner {
    display: none; }

.sidenote-number {
  counter-increment: sidenote-counter;
  display: inline; }
  .sidenote-number::after {
    content: counter(sidenote-counter);
    font-size: 0.7rem;
    font-weight: 500;
    left: 0.1rem;
    top: -0.5rem; }

.margin-toggle:not(.sidenote-number) {
  display: none; }

.sidenote::before,
.marginnote::before,
.sidenote-number::after {
  font-family: -apple-system-font, BlinkMacSystemFont, Helvetica, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif; }

.sidenote-number::after,
.sidenote::before {
  color: #a00000;
  content: counter(sidenote-counter) " ";
  position: relative;
  vertical-align: baseline; }

.sidenote::before {
  content: counter(sidenote-counter) ". ";
  top: 0; }

li .sidenote,
li .marginnote,
blockquote .sidenote,
blockquote .marginnote {
  margin-right: -60%; }

@media only screen and (max-width: 760px) {
  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    clear: both;
    display: block;
    float: left;
    left: 1rem;
    margin: 1rem 2.5%;
    position: relative;
    vertical-align: baseline;
    width: 95%; }

  label {
    cursor: pointer; }
    label.margin-toggle:not(.sidenote-number) {
      color: #a00000;
      display: inline; } }
@media only screen and (max-width: 960px) {
  section.self {
    -webkit-box-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
            align-items: center;
    width: 100%; } }

section.self-links .link-container:last-of-type {
  margin-bottom: 0; }
section.self-links .link-title {
  display: block;
  line-height: 1em; }

section.self-image {
  background-image: url("/assets/img/self.jpg");
  background-size: contain;
  -webkit-clip-path: polygon(0% 100%, 100.09% 99.91%, 100.09% 62.3%, 99.73% 60.88%, 99.29% 57.88%, 98.58% 54.78%, 97.96% 51.59%, 97.08% 48.41%, 95.93% 46.55%, 95.84% 45.75%, 95.49% 44.78%, 94.42% 43.63%, 93.1% 42.21%, 91.5% 40.62%, 90.18% 39.91%, 89.2% 39.38%, 87.79% 38.76%, 85.31% 38.41%, 83.81% 38.41%, 82.57% 38.76%, 81.33% 39.38%, 80.27% 39.29%, 78.94% 39.56%, 77.43% 40.62%, 75.84% 41.86%, 74.78% 43.54%, 73.98% 44.51%, 72.92% 46.19%, 72.04% 48.32%, 71.42% 50.44%, 71.59% 52.83%, 71.33% 53.81%, 71.33% 56.37%, 70.97% 58.23%, 70.97% 59.82%, 71.15% 62.74%, 71.42% 64.87%, 71.42% 66.64%, 71.33% 68.23%, 71.06% 69.12%, 70.35% 69.56%, 69.56% 69.73%, 68.14% 70%, 66.19% 70.62%, 64.87% 70.88%, 63.98% 70.62%, 63.27% 70.62%, 62.21% 70.88%, 61.59% 71.15%, 60.27% 72.3%, 60.18% 73.89%, 60.8% 75.04%, 59.56% 76.37%, 58.76% 77.7%, 58.05% 79.47%, 57.61% 81.24%, 57.61% 83.45%, 57.43% 85.58%, 58.14% 99.91%, 57.7% 100%, 53.45% 90.8%, 53.01% 87.52%, 51.42% 84.16%, 49.47% 81.77%, 47.35% 79.29%, 45.66% 77.08%, 44.34% 76.19%, 38.58% 73.63%, 35.04% 72.21%, 27.17% 70.53%, 29.56% 66.11%, 30.44% 62.3%, 30.71% 61.15%, 30.62% 59.03%, 30.62% 57.17%, 31.59% 55.58%, 31.06% 54.69%, 31.06% 52.12%, 31.24% 50.09%, 30.44% 46.28%, 29.2% 43.36%, 27.96% 40.09%, 26.19% 38.32%, 24.25% 37.35%, 21.5% 35.93%, 20.27% 35.93%, 19.29% 35.22%, 17.43% 35.22%, 16.81% 34.6%, 15.49% 34.25%, 14.25% 34.25%, 13.72% 34.87%, 13.19% 34.51%, 12.12% 34.51%, 10.8% 34.87%, 10.09% 34.6%, 10.18% 35.84%, 10% 37.7%, 9.2% 38.76%, 8.14% 40.09%, 6.9% 41.5%, 5.4% 43.54%, 3.81% 46.19%, 3.1% 49.91%, 2.83% 53.45%, 2.48% 56.02%, 2.39% 58.23%, 2.83% 60.53%, 4.07% 62.39%, 5.49% 63.36%, 6.64% 63.54%, 7.08% 67.26%, 2.92% 72.21%, 0% 74.69%);
          clip-path: polygon(0% 100%, 100.09% 99.91%, 100.09% 62.3%, 99.73% 60.88%, 99.29% 57.88%, 98.58% 54.78%, 97.96% 51.59%, 97.08% 48.41%, 95.93% 46.55%, 95.84% 45.75%, 95.49% 44.78%, 94.42% 43.63%, 93.1% 42.21%, 91.5% 40.62%, 90.18% 39.91%, 89.2% 39.38%, 87.79% 38.76%, 85.31% 38.41%, 83.81% 38.41%, 82.57% 38.76%, 81.33% 39.38%, 80.27% 39.29%, 78.94% 39.56%, 77.43% 40.62%, 75.84% 41.86%, 74.78% 43.54%, 73.98% 44.51%, 72.92% 46.19%, 72.04% 48.32%, 71.42% 50.44%, 71.59% 52.83%, 71.33% 53.81%, 71.33% 56.37%, 70.97% 58.23%, 70.97% 59.82%, 71.15% 62.74%, 71.42% 64.87%, 71.42% 66.64%, 71.33% 68.23%, 71.06% 69.12%, 70.35% 69.56%, 69.56% 69.73%, 68.14% 70%, 66.19% 70.62%, 64.87% 70.88%, 63.98% 70.62%, 63.27% 70.62%, 62.21% 70.88%, 61.59% 71.15%, 60.27% 72.3%, 60.18% 73.89%, 60.8% 75.04%, 59.56% 76.37%, 58.76% 77.7%, 58.05% 79.47%, 57.61% 81.24%, 57.61% 83.45%, 57.43% 85.58%, 58.14% 99.91%, 57.7% 100%, 53.45% 90.8%, 53.01% 87.52%, 51.42% 84.16%, 49.47% 81.77%, 47.35% 79.29%, 45.66% 77.08%, 44.34% 76.19%, 38.58% 73.63%, 35.04% 72.21%, 27.17% 70.53%, 29.56% 66.11%, 30.44% 62.3%, 30.71% 61.15%, 30.62% 59.03%, 30.62% 57.17%, 31.59% 55.58%, 31.06% 54.69%, 31.06% 52.12%, 31.24% 50.09%, 30.44% 46.28%, 29.2% 43.36%, 27.96% 40.09%, 26.19% 38.32%, 24.25% 37.35%, 21.5% 35.93%, 20.27% 35.93%, 19.29% 35.22%, 17.43% 35.22%, 16.81% 34.6%, 15.49% 34.25%, 14.25% 34.25%, 13.72% 34.87%, 13.19% 34.51%, 12.12% 34.51%, 10.8% 34.87%, 10.09% 34.6%, 10.18% 35.84%, 10% 37.7%, 9.2% 38.76%, 8.14% 40.09%, 6.9% 41.5%, 5.4% 43.54%, 3.81% 46.19%, 3.1% 49.91%, 2.83% 53.45%, 2.48% 56.02%, 2.39% 58.23%, 2.83% 60.53%, 4.07% 62.39%, 5.49% 63.36%, 6.64% 63.54%, 7.08% 67.26%, 2.92% 72.21%, 0% 74.69%);
  height: 10em;
  margin: -3em 0 1.5em;
  min-width: 10em;
  opacity: 0.7;
  position: relative;
  width: 10em; }
  @media only screen and (max-width: 760px) {
    section.self-image {
      margin-right: 2em;
      margin-bottom: 0; } }
  section.self-image:hover {
    opacity: 0.85; }
  section.self-image .self-clip,
  section.self-image .other-clip {
    height: 100%;
    position: absolute;
    width: 100%; }
    section.self-image .self-clip:hover::before, section.self-image .self-clip:hover::after,
    section.self-image .other-clip:hover::before,
    section.self-image .other-clip:hover::after {
      display: block; }
    section.self-image .self-clip::before, section.self-image .self-clip::after,
    section.self-image .other-clip::before,
    section.self-image .other-clip::after {
      display: none; }
    section.self-image .self-clip::before,
    section.self-image .other-clip::before {
      content: "";
      height: 100%;
      position: absolute;
      width: 100%; }
    section.self-image .self-clip::after,
    section.self-image .other-clip::after {
      bottom: 0.2em;
      color: white;
      left: 15%;
      position: absolute; }
  section.self-image .self-clip {
    -webkit-clip-path: polygon(0% 100%, 57.7% 100%, 53.45% 90.8%, 53.01% 87.52%, 51.42% 84.16%, 49.47% 81.77%, 47.35% 79.29%, 45.66% 77.08%, 44.34% 76.19%, 38.58% 73.63%, 35.04% 72.21%, 27.17% 70.53%, 29.56% 66.11%, 30.44% 62.3%, 30.71% 61.15%, 30.62% 59.03%, 30.62% 57.17%, 31.59% 55.58%, 31.06% 54.69%, 31.06% 52.12%, 31.24% 50.09%, 30.44% 46.28%, 29.2% 43.36%, 27.96% 40.09%, 26.19% 38.32%, 24.25% 37.35%, 21.5% 35.93%, 20.27% 35.93%, 19.29% 35.22%, 17.43% 35.22%, 16.81% 34.6%, 15.49% 34.25%, 14.25% 34.25%, 13.72% 34.87%, 13.19% 34.51%, 12.12% 34.51%, 10.8% 34.87%, 10.09% 34.6%, 10.18% 35.84%, 10% 37.7%, 9.2% 38.76%, 8.14% 40.09%, 6.9% 41.5%, 5.4% 43.54%, 3.81% 46.19%, 3.1% 49.91%, 2.83% 53.45%, 2.48% 56.02%, 2.39% 58.23%, 2.83% 60.53%, 4.07% 62.39%, 5.49% 63.36%, 6.64% 63.54%, 7.08% 67.26%, 2.92% 72.21%, 0% 74.69%);
            clip-path: polygon(0% 100%, 57.7% 100%, 53.45% 90.8%, 53.01% 87.52%, 51.42% 84.16%, 49.47% 81.77%, 47.35% 79.29%, 45.66% 77.08%, 44.34% 76.19%, 38.58% 73.63%, 35.04% 72.21%, 27.17% 70.53%, 29.56% 66.11%, 30.44% 62.3%, 30.71% 61.15%, 30.62% 59.03%, 30.62% 57.17%, 31.59% 55.58%, 31.06% 54.69%, 31.06% 52.12%, 31.24% 50.09%, 30.44% 46.28%, 29.2% 43.36%, 27.96% 40.09%, 26.19% 38.32%, 24.25% 37.35%, 21.5% 35.93%, 20.27% 35.93%, 19.29% 35.22%, 17.43% 35.22%, 16.81% 34.6%, 15.49% 34.25%, 14.25% 34.25%, 13.72% 34.87%, 13.19% 34.51%, 12.12% 34.51%, 10.8% 34.87%, 10.09% 34.6%, 10.18% 35.84%, 10% 37.7%, 9.2% 38.76%, 8.14% 40.09%, 6.9% 41.5%, 5.4% 43.54%, 3.81% 46.19%, 3.1% 49.91%, 2.83% 53.45%, 2.48% 56.02%, 2.39% 58.23%, 2.83% 60.53%, 4.07% 62.39%, 5.49% 63.36%, 6.64% 63.54%, 7.08% 67.26%, 2.92% 72.21%, 0% 74.69%); }
    section.self-image .self-clip::before {
      background: rgba(255, 128, 0, 0.5); }
    section.self-image .self-clip::after {
      content: "me"; }
  section.self-image .other-clip {
    -webkit-clip-path: polygon(0% 100%, 100.09% 99.91%, 100.09% 62.3%, 99.73% 60.88%, 99.29% 57.88%, 98.58% 54.78%, 97.96% 51.59%, 97.08% 48.41%, 95.93% 46.55%, 95.84% 45.75%, 95.49% 44.78%, 94.42% 43.63%, 93.1% 42.21%, 91.5% 40.62%, 90.18% 39.91%, 89.2% 39.38%, 87.79% 38.76%, 85.31% 38.41%, 83.81% 38.41%, 82.57% 38.76%, 81.33% 39.38%, 80.27% 39.29%, 78.94% 39.56%, 77.43% 40.62%, 75.84% 41.86%, 74.78% 43.54%, 73.98% 44.51%, 72.92% 46.19%, 72.04% 48.32%, 71.42% 50.44%, 71.59% 52.83%, 71.33% 53.81%, 71.33% 56.37%, 70.97% 58.23%, 70.97% 59.82%, 71.15% 62.74%, 71.42% 64.87%, 71.42% 66.64%, 71.33% 68.23%, 71.06% 69.12%, 70.35% 69.56%, 69.56% 69.73%, 68.14% 70%, 66.19% 70.62%, 64.87% 70.88%, 63.98% 70.62%, 63.27% 70.62%, 62.21% 70.88%, 61.59% 71.15%, 60.27% 72.3%, 60.18% 73.89%, 60.8% 75.04%, 59.56% 76.37%, 58.76% 77.7%, 58.05% 79.47%, 57.61% 81.24%, 57.61% 83.45%, 57.43% 85.58%, 58.14% 99.91%, 57.7% 100%);
            clip-path: polygon(0% 100%, 100.09% 99.91%, 100.09% 62.3%, 99.73% 60.88%, 99.29% 57.88%, 98.58% 54.78%, 97.96% 51.59%, 97.08% 48.41%, 95.93% 46.55%, 95.84% 45.75%, 95.49% 44.78%, 94.42% 43.63%, 93.1% 42.21%, 91.5% 40.62%, 90.18% 39.91%, 89.2% 39.38%, 87.79% 38.76%, 85.31% 38.41%, 83.81% 38.41%, 82.57% 38.76%, 81.33% 39.38%, 80.27% 39.29%, 78.94% 39.56%, 77.43% 40.62%, 75.84% 41.86%, 74.78% 43.54%, 73.98% 44.51%, 72.92% 46.19%, 72.04% 48.32%, 71.42% 50.44%, 71.59% 52.83%, 71.33% 53.81%, 71.33% 56.37%, 70.97% 58.23%, 70.97% 59.82%, 71.15% 62.74%, 71.42% 64.87%, 71.42% 66.64%, 71.33% 68.23%, 71.06% 69.12%, 70.35% 69.56%, 69.56% 69.73%, 68.14% 70%, 66.19% 70.62%, 64.87% 70.88%, 63.98% 70.62%, 63.27% 70.62%, 62.21% 70.88%, 61.59% 71.15%, 60.27% 72.3%, 60.18% 73.89%, 60.8% 75.04%, 59.56% 76.37%, 58.76% 77.7%, 58.05% 79.47%, 57.61% 81.24%, 57.61% 83.45%, 57.43% 85.58%, 58.14% 99.91%, 57.7% 100%); }
    section.self-image .other-clip::before {
      background: rgba(225, 45, 190, 0.5); }
    section.self-image .other-clip::after {
      content: "nme";
      left: unset;
      right: 1em; }

.color-list {
  margin-top: 5em;
  line-height: 2.2rem; }
  @media only screen and (max-width: 760px) {
    .color-list {
      display: none; } }
  .color-list .emojis {
    font-size: 1.5rem; }

.post-options {
  width: calc(65% + 2em); }
  .post-options .marginnote {
    margin-right: calc(-60% - 2em);
    line-height: 2em; }

.summary {
  width: 80%; }

.side-link {
  color: #aaaaaa;
  font-size: 0.5em;
  margin-left: 1em; }
